

<div class="panel panel-success">
    <div class="panel-heading">
        <a href="{{ path('group_show', {'slug': resource.id}) }}" class="panel-title">{{ resource.name }}</a>
        <p></p>
        <p class="text-muted"><strong>Skapad:</strong> {{ resource.creationDate|date('Y-m-d') }}</p>
        <p class="text-muted"><strong>av:</strong> {{ resource.creator.username }}</p>
        <ul>
            <li><a href="{{ path('group_members', {'slug': resource.id}) }}" class="text-success">Visa medlemmar</a></li>
            <li><a href="{{ path('group_update_create', {'slug': resource.id}) }}" class="text-success">Skapa uppdatering</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <p><strong>Beskrivning:</strong></p>
        <p>{{ resource.description }}</p>

    </div>
</div>
