{% extends 'base.html.twig' %}

{% block body %}

    {% for update in updatesArray %}
            <p> {{ update.appUser.username }}</p>
            <p> {{ update.message }}</p>
            <p> {{ update.creationDate|date('Y-m-d H:i:s') }}</p>

        <div>
            <form name="input" action="{{ path('comment_create', {'slug': update.id}) }}" method="post">
                <textarea rows="3" cols="20" name="message"></textarea>
                <input type="submit" name="submit" value="Lägg till kommentar">
            </form>
        </div>
    {% endfor %}

    <a href="{{ path('user_show', {'slug': app_user.id}) }}">Min profil</a>
    <a href="{{ path('status_update_register') }}">Skapa ny statusuppdatering</a>
    <a href="{{ path('logout') }}">Logga ut</a>
{% endblock %}
