{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}
    <a href="{{ path('status_update_register') }}">Skapa ny statusuppdatering</a>


    {% for update in updatesArray %}
        <div class="container">
            <div class="row">
                <div class="span4 offset4 alert alert-info">
                    <p>{{ update.appUser.username }}</p>
                    <p class="text-muted"><small>{{ update.creationDate|date('Y-m-d H:i:s') }}</small></p>
                    <div>
                    <p>{{ update.message }}</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                        {% for comment in update.comments %}
                            <p>{{ comment.appUser.username }}</p>
                            <p>{{ comment.message }}</p>
                            <p>{{ comment.creationDate|date('Y-m-d H:i:s') }}</p>
                        {% endfor %}

                        <form name="input" action="{{ path('comment_create', {'slug': update.id}) }}" method="post" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <input type="text" name="message" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <input type="submit" name="submit" value="Lägg till kommentar" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
