{% extends 'base.html.twig' %}

{% block body %}

    {% for update in updatesArray %}
            <p> {{ update.appUser.username }}</p>
            <p> {{ update.message }}</p>
            <p> {{ update.creationDate|date('Y-m-d H:i:s') }}</p>
    {% endfor %}

    <a href="{{ path('user_show', {'slug': app_user.id}) }}">Min profil</a>
    <a href="{{ path('status_update_register') }}">Skapa ny statusuppdatering</a>
    <a href="{{ path('logout') }}">Logga ut</a>
{% endblock %}
