{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.statusUpdate.message, 'Statusuppdatering') }}
        {{ form_errors(form.statusUpdate.message) }}
        {{ form_widget(form.statusUpdate.message) }}
    </div>

    {{ form_end(form) }}
{% endblock %}