{% extends 'base.html.twig' %}

{% block body %}

    {% include ('Shared/loginmenu.html.twig') %}

    <div class="row">
        <div class="col-md-6">
            <div class="well">

                {{ form_start(form, {'attr': {'class': 'bs-example form-horizontal', 'role': 'form'}}) }}
                <fieldset>
                    <legend>Ny statusuppdatering</legend>
                    {{ form_errors(form) }}

                    <div class="form-group">
                        <div class="col-md-12">
                            {{ form_widget(form.statusUpdate.message, {'attr': {'class': 'form-control', 'rows': '10', 'cols': '30'}}) }}
                            {{ form_errors(form.statusUpdate.message) }}
                        </div>
                    </div>
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}