{% extends 'base.html.twig' %}

{% block body %}

    <p>{{ app_user.username }}</p>

    <div>
        <form name="input2" action="{{ path('acceptrequestform', {'slug': app_user.id}) }}" method="post">
            <input type="submit" name="submit" value="Acceptera vänförfrågan">
        </form>
    </div>

    <a href="{{ path('users_groups', {'slug': app_user.id}) }}">Grupper</a>
    <a href="{{ path('users_crops', {'slug': app_user.id}) }}">Grödor</a>
    <a href="{{ path('friendrequests', {'slug': app_user.id}) }}">Vänförfrågningar</a>
    <a href="{{ path('friends', {'slug': app_user.id}) }}">Vänner</a>
    <a href="{{ path('users') }}">Alla användare</a>
    <a href="{{ path('locations') }}">Alla platser</a>
    <a href="{{ path('groups') }}">Alla grupper</a>
    <a href="{{ path('crops') }}">Alla grödor</a>

    <a href="{{ path('logout') }}">Logga ut</a>

{% endblock %}