{% extends 'base.html.twig' %}

{% block body %}
    <ul id="users">
        {% for item in app_users %}
            <li><a href="{{ path('user_show', {'slug': item.id}) }}"> {{ item.username }} {{ item.firstName }}
                {{ item.lastName }} {{ item.location.name }}
            </a></li>
        {% endfor %}
    </ul>
    <a href="{{ path('logout') }}">Logga ut</a>
{% endblock %}