{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-md-8">
            <div class="jumbotron">
                <h1>Hemodlat</h1>
            </div>
        </div>

        <div class="col-md-4">

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.message|trans }}
                </div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post">

                <div class="form-group">
                    <label for="username">Användarnamn:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="" />
                </div>

                <div class="form-group">
                    <label for="password">Lösenord:</label>
                    <input type="password" id="password" name="_password" class="form-control" required="" />
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="Submit" class="btn btn-primary">Logga in</button>
                        </div>
                    </div>
                </div>

            </form>

            <a href="{{ path('account_register') }}">Skapa konto</a>

        </div>
    </div>

{% endblock %}